cordova/www/index.html
<!DOCTYPE html><html><head><!--Customize this policy to fit your own app's needs. For more guidance, see:
    https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
Some notes:
    * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
    * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
    * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
        * Enable inline JS: add 'unsafe-inline' to default-src
--><!-- if context.mode == "mobile"--><!--  meta(http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *")--><meta name="format-detection" content="telephone=no"><meta name="msapplication-tap-highlight" content="no"><meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width"><link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css"><link rel="stylesheet" type="text/css" href="./css/index.css"><title>Viktor, Run!.</title><script src="./node_modules/jquery/dist/jquery.js"></script><script src="./node_modules/tether/dist/js/tether.js"></script><script src="./node_modules/bootstrap/dist/js/bootstrap.js"></script><!--1. Load libraries
IE required polyfills, in this exact order--><script src="./node_modules/es6-shim/es6-shim.min.js"></script><script src="./node_modules/systemjs/dist/system-polyfills.js"></script><script src="./node_modules/angular2/es6/dev/src/testing/shims_for_IE.js"></script><script src="./node_modules/angular2/bundles/angular2-polyfills.js"></script><script src="./node_modules/systemjs/dist/system.src.js"></script><script src="./node_modules/rxjs/bundles/Rx.js"></script><script src="./node_modules/angular2/bundles/angular2.dev.js"></script><script src="./node_modules/angular2/bundles/router.dev.js"></script><!-- Mode is defined.--><script type="text/javascript" src="./mobile-mode.js"></script><!-- GMap.--><script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOgeOSV8GIaG5M1DWmp8mbVoqdGtmiClo"></script></head><body id="body"><div id="startScreen"><div class="shadow"></div><div class="window"><img src="./img/logo.png"></div></div><my-app>Loading....</my-app></body><script type="text/javascript" src="js/start.js"></script><!-- Cordova is included.--><script type="text/javascript" src="cordova.js"></script></html>

cordova/jade/index.jade
doctype html
html
  head
    //
      Customize this policy to fit your own app's needs. For more guidance, see:
          https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
      Some notes:
          * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
          * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
          * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
              * Enable inline JS: add 'unsafe-inline' to default-src
    
    // if context.mode == "mobile"
    //  meta(http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *")
    meta(name="format-detection" content="telephone=no")
    meta(name="msapplication-tap-highlight" content="no")
    meta(name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width")
    link(rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet" type="text/css" href="./css/index.css")
    title Viktor, Run!.
    
    script(src="./node_modules/jquery/dist/jquery.js")
    script(src="./node_modules/tether/dist/js/tether.js")
    script(src="./node_modules/bootstrap/dist/js/bootstrap.js")
    //
      1. Load libraries
      IE required polyfills, in this exact order
    script(src="./node_modules/es6-shim/es6-shim.min.js")
    script(src="./node_modules/systemjs/dist/system-polyfills.js")
    script(src="./node_modules/angular2/es6/dev/src/testing/shims_for_IE.js")
    script(src="./node_modules/angular2/bundles/angular2-polyfills.js")
    script(src="./node_modules/systemjs/dist/system.src.js")
    script(src="./node_modules/rxjs/bundles/Rx.js")
    script(src="./node_modules/angular2/bundles/angular2.dev.js")
    script(src="./node_modules/angular2/bundles/router.dev.js")
    
    // Mode is defined.
    if context.mode == "mobile"
      script(type="text/javascript" src="./mobile-mode.js")
    else
      script(type="text/javascript" src="./browser-mode.js")
    
    // GMap.
    - var key = "AIzaSyCOgeOSV8GIaG5M1DWmp8mbVoqdGtmiClo";
    script(src="https://maps.googleapis.com/maps/api/js?key=#{key}")

  body(id="body")
    div(id="startScreen")
      div(class="shadow")
      div(class="window")
        img(src='./img/logo.png')
          
    my-app Loading....

  script(type="text/javascript" src="js/start.js")
  
  // Cordova is included.
  if context.mode == "mobile"
    script(type="text/javascript" src="cordova.js")
  else
    script(type="text/javascript" src="browser-cordova.js")
