cordova/jade/templates/component/app.jade
nav(class="navbar navbar-dark  bg-inverse")
  div(class="navbar-brand") Viktor, RUN!
  ul(class="nav navbar-nav")
    li(class="nav-item")
      a(class="nav-link", [routerLink]="['PlayerPage']") Player
    li(class="nav-item")
      a(class="nav-link", [routerLink]="['MapPage']") Map
    li(class="nav-item")
      a(class="nav-link", [routerLink]="['HistoryPage']") History
    li(class="nav-item")
      a(class="nav-link", "(click)"="reloadPage()") Reload page
    li(class="nav-item")
      a(class="nav-link", "(click)"="clearCache()") Clear cache

// Routed views go here.
router-outlet

cordova/www/templates/component/app.html
<nav class="navbar navbar-dark  bg-inverse"><div class="navbar-brand">Viktor, RUN!</div><ul class="nav navbar-nav"><li class="nav-item"><a [routerLink]="['PlayerPage']" class="nav-link">Player</a></li><li class="nav-item"><a [routerLink]="['MapPage']" class="nav-link">Map</a></li><li class="nav-item"><a [routerLink]="['HistoryPage']" class="nav-link">History</a></li><li class="nav-item"><a (click)="reloadPage()" class="nav-link">Reload page</a></li><li class="nav-item"><a (click)="clearCache()" class="nav-link">Clear cache</a></li></ul></nav><!-- Routed views go here.--><router-outlet></router-outlet>
