cordova/www/templates/component/page/player.html
<h1>Player</h1><form><div role="group" aria-label="Basic example" class="btn-group"><button (click)="toggleTraining()" class="btn btn-primary">{{ toggleLabel }}</button><button class="btn btn-primary disabled">Stop</button></div></form>

cordova/jade/templates/component/page/player.jade
h1 Player
form
  div(class="btn-group" role="group" aria-label="Basic example")
    button(class="btn btn-primary" "(click)"="toggleTraining()") {{ toggleLabel }}
    button(class="btn btn-primary disabled") Stop
